<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ race_title }} Video</title>
</head>
<body>
    <h1>{{ race_title }} Video</h1>
    
    {% if video_url %}
    <video controls width="40%" height=auto>
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    {% else %}
        <p>No video found for this race.</p>
    {% endif %}
    
</body>
    <a href="{% url 'pages:all_videos' %}">Back to All Videos</a>
</html>
